* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.value {
    font-size: 25px;
}

.btn-containers .btn {
    border: 2px solid #252222;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #6d929b;
    color: #fafafa;
}