body {
  box-sizing: border-box;
  background-color: #FAFAFA;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex h2 {
  border: 2px solid;
  border-image: linear-gradient(to right, #3473aa, #40eb6b) 1;
  padding: 10px;
}

.btn {
    border: 2px solid #000; 
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    transition: all .5s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #95a695;
}
